*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}
body{
    background-color: rgb(219, 219, 219);
}
nav{
    background-color: black;
    height: 30px;
}
ul{
    list-style-type: none;
    float: right;
    display: flex;
    margin-right: 30px;
}

ul li a{
    line-height: 25px;
    color: white;
    font-family: 'Popins',sans-serif;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    padding-left: 30px;
}
span{
    color: white;
    font-family: 'Popins',sans-serif;
    line-height: 30px;
    font-size: 15px;
    margin-left: 40px;
}
nav i{
    color: white;
    margin-left: 10px;
    line-height: 30px;
    position: absolute;
}
.nav-2{
    background-color: whitesmoke;
    display: flex;
    height: 70px;
}
.logo-1{
    line-height: 70px;
    color: grey;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Popins',sans-serif;
    font-weight: 900;
}
.logo-2{
    line-height: 70px;
    color: black;
    font-family: 'Popins',sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.nav-2 input{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 300px;
    padding-left: 10px;    position: absolute;
}
.nav-2 i{
    background-color: rgb(114, 114, 114);
    padding: 5.3px;
    width: 28px;
    text-align: center;
    margin-left: 273px;
    border-radius: 0px 40px 50px 0px;
}
.search-box{
    margin-top: 17px;
    margin-left: 50px;
}
.box-2 i{
    float: right;
    border-radius: none;
    margin-left: 900px;
}
.nav-2 ul{
    display: flex;
    float: right;
    margin-left: 800px;
    margin-top: 25px;
}
.nav-2 ul li a{
    font-family: 'Popins',sans-serif;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
}
.icon-1{
    margin-left: 10px;
    line-height: 2px;
    font-size: 25px;
    position: absolute;
}
.icon-2{
    position: absolute;
    margin-left: 95px;
    margin-top: 3px;
}
.icon-3{
    position: absolute;
    margin-left: 190px;
    font-size: 25px;
    line-height: 1px;
}
.nav-3{
    background-color:rgb(54, 50, 50);
}
.nav-3 ul{
    float: left;
    margin-top: 3px;
}
.nav-3 ul a{
    color: white;
    font-family: 'Popins',sans-serif;
    font-weight: lighter;
}
.img-box{
    margin-right: 0px;
}
.box-1{
    position: absolute;
    background-color: red;
}
.box-1 h5{
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    width: 70px;
    background-color: rgb(236, 45, 45);
    padding: 8px;
    color: white;
    border-radius: 10px 20px;
    font-family: 'Popins',sans-serif;
    font-weight: bold;
}
.box-1 h1{
    margin-left: 100px;
    margin-top: 140px;
    position: absolute;
    width: 400px;
    font-size: 40px;
    color: rgb(43, 38, 38);
    font-family: 'Popins',sans-serif;
}
.box-1 p{
    position: absolute;
    width: 290px;
    margin-left: 100px;
    margin-top: 280px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.box-3{
    height: 400px;
    background-color: whitesmoke;
}
.box-4{
    margin-left: 180px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.box-4 img{
    position: absolute;
}
.box-4 .img-2{
    margin-left: 520px;
}
.box-4 {
    color: white;
}
.box-5{
    z-index: 1;
}
.box-5 p{
    color: white;
    padding: 8px;
    width: 200px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    font-size: 30px;
    font-weight: lighter;
}
.box-5 h1{
    color: white;
    font-family: 'Popins',sans-serif;
    margin-left: 60px;
    font-size: 40px;
}
.box-5 h3{
    margin-top: 10px;
    margin-left: 65px;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-5 button{
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    font-family: 'Popins',sans-serif;
    margin-left: 60px;
    font-weight: lighter;
    background-color: white;
    width: 100px;
}
.box-6{
    margin-left: 500px;
    position: absolute;
}
.box-6 p{
    color: white;
    padding: 8px;
    font-weight: lighter;
    width: 200px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    font-size: 30px;
}
.box-6 h1{
    color: white;
    font-family: 'Popins',sans-serif;
    margin-left: 60px;
    font-size: 40px;
}
.box-6 h3{
    margin-top: 10px;
    font-weight: lighter;
    margin-left: 65px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-6 button{
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    font-family: 'Popins',sans-serif;
    margin-left: 60px;
    font-weight: lighter;
    width: 100px;
    background-color: white;
}
.box-5 button:hover{
    background-color: white;
    cursor: pointer;
}
.box-6 button:hover{
    cursor: pointer;
}
.box-7{
    background-color: white;
    margin-top: 100px;
    display: flex;
    width: 1200px;
    margin-left: 70px;
}
.box-8 h5{
    position: absolute;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Popins',sans-serif;
    font-weight: lighter;
    color: black;
    padding: 1px;
}
.box-8 i{
    color: black;
    position: absolute;
    font-size: 25px;
    margin-top: 10px;
}
.box-8{
    padding: 50px;
    margin-left: 10px;
}
.box-9{
    padding: 50px;
    margin-left: 100px;
}
.box-9 h5{
    position: absolute;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Popins',sans-serif;
    font-weight: lighter;
    color: black;
    padding: 1px;
}
.box-9 i{
    color: black;
    position: absolute;
    font-size: 25px;
    margin-top: 10px;
}
@media (max-width: 900px){
    body{
        background-color: red;
    }
    .box-6{
        float: left;
    }
}